<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/png" href="/assets/images/jo.png"/>

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/lib/fontawesome/css/font-awesome.min.css">

</head>
<body>

	{{ content }}

</body>
</html>
